<!--
-->
<launch>
	<arg name="rate" default="0.5" />


	<node pkg="tactical_deconfliction" type="ConflictSolver" name="conflictsolver" output="screen">

	</node>

	<node pkg="db_manager" type="DBmanager" name="DBmanager" output="screen">

	</node>

	<node pkg="tracking" type="tracking" name="tracking" output="screen">

	</node>

	<node pkg="monitoring" type="monitoring" name="monitoring" output="screen">

	</node>

	<node pkg="flight_planning_management" type="FlightPlanManagement" name="FlightPlanManagement" output="screen">

	</node>

	<node pkg="emergency_management" type="emergency_management" name="emergency_management" output="screen">

	</node>

	<node pkg="usp_manager" type="USPmanager" name="USPmanager" output="screen">

	</node>



</launch>
