<!--
-->
<launch>
	<arg name="rate" default="0.5" />


	<node pkg="usp_nodes" type="ConflictSolver" name="conflictsolver" output="screen">

	</node>

	<node pkg="usp_nodes" type="DBmanager" name="DBmanager" output="screen">

	</node>

	<node pkg="usp_nodes" type="tracking" name="tracking" output="screen">

	</node>

	<node pkg="usp_nodes" type="monitoring" name="monitoring" output="screen">

	</node>

	<node pkg="usp_nodes" type="FlightPlanManagement" name="FlightPlanManagement" output="screen">

	</node>

	<node pkg="usp_nodes" type="emergency_management" name="emergency_management" output="screen">

	</node>

	<node pkg="usp_nodes" type="USPmanager" name="USPmanager" output="screen">

	</node>



</launch>
